$kopubbatang light-font : "KoPubBatang Light"
$kopubbatang medium-font : "KoPubBatang Medium"
$inter-font : "Inter"
$abhaya libre-font : "Abhaya Libre"
$inter-font : "Inter"
$roboto-font : "Roboto"
$jejumyeongjo-font : "JejuMyeongjo"
$abhaya libre-font : "Abhaya Libre"
$arial-font : "Arial"