<html lang="en">
          <head>
            <link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }}">
            <meta charset="utf-8">
            <title>comforlet</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=KoPubBatang+Light&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=KoPubBatang+Medium&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
            
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E4E1DB; }
            </style>
          
          </head>
          
          <body>
            
            <div class=e10_27>
            <span  class="e4_3">Let you Comfort</span>
            <span  class="e4_4">COMFORLET</span>
            <img  class=e4_2 src=static/images/logo.png>
            <img  class=e4_6 src=static/images/back.png>
            <img class="e6_24" src=static/images/person.png>
            
           <form action="/page5" method="post"><button  class="e4_25">about us</button>
           </form>
           <form action="/page2" method="post"> <button  class="e4_26">product </button>
           </form>
           
            <form action="/page3" method="post"> <button  class="e4_27">my page</button>
            </form>
            
            <div class=e48_4>
              <div class="e48_2"></div><span  class="e48_3">app</span>
            </div>
            <form action="page6" method="post"> <button <div class=e48_4>
              <div class="e48_2"></div><span  class="e48_3">app</span>
            </div>></button>
            </div>
           
          
          </body>
          </html>