<html lang="en">
          <head>
            <link rel="stylesheet" href="static/css/styles.css">
            <meta charset="utf-8">
          
            <title>Login</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">

          
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e17_5><span  class="e17_6">login</span>
                <div class="e17_7"></div>
                <div class="e19_11"></div>
                <div class="e19_12"></div><span  class="e19_13">example@gmail.com</span><span  class="e19_14">Password</span>
                <div class=e19_16>
                  <form action="/page4" method="post"><button class="e19_17"></button><span  class="e19_18">Log in</span>
                </div>
              </div>
          </body>
          </html>