<html lang="en">
          <head>
            <link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }}">
            <meta charset="utf-8">
          
            <title>Our Product</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">

           
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e12_2><img  class="e32_95" src=static/images/kakaotalk_photo_2024_01_30_09_12_43_002_1.png><img  class="e16_2" src=static/images/rectangle_2.png><img  class="e32_88" src=static/images/kakaotalk_photo_2024_01_30_09_12_43_003_1.png><span  class="e12_3">Our Product
</span><div  class="e32_89"></div><span  class="e32_90">comforlet_silver </span><div  class="e32_100"></div><span  class="e32_101">for older people</span><span  class="e32_94">&</span></div>
          </body>
          </html>