<html lang="en">
          <head>
            <link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }}">
            <meta charset="utf-8">
          
            <title>comforlet_app</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex Serif&display=swap" rel="stylesheet">

            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e49_23>
            <div class=e44_96>
            <img  class="e49_21" src=static/images/free_icon_toilet_3130242_1.png>

           
            <span  class="e49_22">COMFORLET</span>
        </div>
        <div class=e49_8
        ><span  class="e49_11">LOGIN</span>
        <div  class="e49_12">

        </div><div  class="e49_13">

        </div><span  class="e49_15">Password</span>
        <span  class="e49_19">ID</span><div  class="e49_17">

        </div><span  class="e49_18">LOGIN</span></div>
        <div class=e49_32>
        <div  class="e49_40">

        <img  class="e49_41" src=static/images/free_icon_profile_user_64572_1.png>

        <img class="e58_44" src=static/images/image_1.png></div>
        <span  class="e59_49">COMFORLET</span></div>
          </body>
          </html>