<html lang="en">
          <head>
            <link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }}">
            <meta charset="utf-8">
            
            <title>About Us</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">

            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e28_92><span  class="e28_95">About Us</span>
              <img class="e37_3" src= static/images/____________001_1.png>
              <img class="e34_102" src=static/images/001.png>
              <img class="e34_107" src=static/images/kakaotalk_20240126_155841209_1.png>
              <img class="e45_4" src=static/images/003.png>
              <img class="e45_5" src=static/images/004.png>

            </div>
          </body>
          </html>